{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF
brew "starship"
brew "git"
brew "tree"
# tried installing wireguard but these are command line tools, check wireguard in the appstore
# brew "wireguard-go"
brew "git-lfs"
brew "bat"
brew "git-delta"
brew "eza"
brew "age"
brew "tlrc"
brew "zoxide"
brew "fzf"
brew "mise"
# has to be installed via AppStore to allow biometrics unlock
# cask "bitwarden"
cask "tuta-mail"
cask "jordanbaird-ice"
cask "obsidian"
cask "syncthing-app"
cask "synology-drive"
cask "firefox"
cask "brave-browser"
cask "libreoffice"
cask "cleanshot"
cask "vlc"
cask "the-unarchiver"
cask "notion"
cask "ghostty"
cask "rectangle"
cask "raycast"
cask "discord"
cask "plexamp"
cask "monitorcontrol"
cask "caffeine"
cask "fork"
cask "vscodium"
cask "cursor"
cask "font-meslo-lg-nerd-font"
EOF
{{ end -}}
