{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF
brew "starship"
brew "git"
brew "tree"
brew "gh"
brew "bat"
brew "git-delta"
brew "eza"
brew "fnm"
brew "age"
brew "tlrc"
brew "zoxide"
brew "fzf"
# has to be installed via AppStore to allow biometrics unlock
# cask "bitwarden"
cask "tuta-mail"
cask "obsidian"
cask "synology-drive"
cask "firefox"
cask "brave-browser"
cask "fork"
cask "notion"
cask "vscodium"
cask "cursor"
cask "ghostty"
cask "rectangle"
cask "raycast"
cask "discord"
cask "monitorcontrol"
cask "caffeine"
cask "font-meslo-lg-nerd-font"
EOF
{{ end -}}
